name: Copy Test

on:
  push:
    branches:
      - master

jobs:
  build:
    name: File Transfer

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Test Branch
      uses: actions/checkout@v1
      with:
        ref: GitHubActionsTest
    - name: Copy
      uses: actions/checkout@v1
      with:
        ref: master wiki/.
