name: Copy Test

on:
  push:
    branches:
      - master

jobs:
  build:
    name: File Transfer

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Test Branch
      uses: actions/checkout@v1
      with:
        ref: GitHubActionsTest

    - name: Copy
      uses: actions/checkout@v1
      with:
        ref: origin/master wiki/.

    - name: Commit to GitHubActionsTest branch
      run: |
        git add .
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -m 'Added member posts to public'
        git pull origin GitHubActionsTest
    
    - name: Push Changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.head_ref }}
